body {
    background-color: black;
    font-size: 12px;
    color: white;
}

.yes {
    background: black;
}

#app.hidden {
    display: none;
}

.view.hidden {
    visibility: hidden;
    opacity: 0;
    height: 0px;
}

.view {
    // transition: all 0.5 ease;
    transition: visibility 0s, opacity 0.5s linear;
    visibility: visible;
    opacity: 1;
    height: initial;
    font-size: 20px;
    text-align: center;
}